/* style.css - 01/11/17 */

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

@font-face {
    font-family: "Bree";
    src: url("BreeSerif_Reg.otf");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-family: "Bree";
}

h2 {
	text-align: center;
	font-family: "Bree";
}

a {
	font-family: "Bree";
}

.spaced {
	padding-left: 1%;
}

.description {
	font-family: "Verdana";
	font-size: 0.8em;
	text-align: justify;
}

.musicinfos {
	font-family: "Verdana";
	font-size: 0.8em;
	float: right;
	font-style: italic;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0 0 2em 0;
	width: 100%;
	text-align: left;
}

table tbody tr {
	border: solid 1px #dee1e3;
	border-left: 0;
	border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
	background-color: rgba(144, 144, 144, 0.075);
}

td {
	padding: 0.75em 0.75em;
	font-family: "Bree";
}

th {
	color: #727a82;
	font-family: "Bree";
	font-size: 0.9em;
	font-weight: 700;
	padding: 0 0.75em 0.75em 0.75em;
	text-align: left;
}

#loading {
	text-align: center;
	font-family: "Bree";
}

#map {
	margin: 1%;
	height: 90%;
}

#search {
	margin-right: 5%;
	margin-left: 5%;
	height: 10%;
	width: 90%;
}

input[type=text] {
	background: rgba(144, 144, 144, 0.075);
	border-radius: 4px;
	border: solid 1px #dee1e3;
	outline: 0;
	padding: 0 1em;
	width: 47.5%;
	height: 3.5em;
	line-height: 3.5em;
	resize: horizontal;
	min-width: 10px;
}

input[type="text"]:invalid {
	box-shadow: none;
}

input[type="text"]:focus {
	border-color: #25a2c3;
	box-shadow: 0 0 0 1px #25a2c3;
}

.hidden {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}

img {
	float: left;
	width: 25%;
	overflow: hidden;
	margin : 1%;
}

.right {
	margin: 1%;
	overflow: hidden;
	vertical-align: middle;
}
